body {
    background-color: black;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    border: none;
}


.tabela_cadastrar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 500px;
    height: 300px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.567);
    font-size: 25px;
}

.placeholder {
    border: 2px solid silver;
    padding: 8px 0;
    border-width: 0 0 2px 0;
    width: 190px;
    margin-top: 15px;
    margin-right: 10%;
    transition: border-color .3s;
    float: right;
}

input[type="file"]{
background-color: #232323;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px; 
  height: 20px;
  width: 280px;
  float: right;
  margin-right: 10%;
}

.btcadastrar{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    text-transform: uppercase;
    width: auto;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
}

.inst {
    padding-left: 5%;
}

.tabela_excluir {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 500px;
    height: 300px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.567);
}

.tabela_excluir td {
    font-size: 20px;
    padding-left: 10px;
    margin: 0%;
}

a {
    color: black;
}


@media (max-width: 412px) {
    .tabela_cadastrar {
        width: 400px;
        height: 300px;
    }

    input[type="file"] {
          background-color: #232323;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
          margin: 10px;
          padding: 6px; 
          height: 20px;
          width: 113px;
          float: right;
          margin-right: 10%;
    }

    .placeholder {
        border: 2px solid silver;
        padding: 8px 0;
        border-width: 0 0 2px 0;
        width: 190px;
        margin-top: 15px;
        margin-right: 10%;
        transition: border-color .3s;
        float: right;
    }

    .tabela_excluir {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        width: 400px;
        height: 300px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.567);
    }
    
    .tabela_excluir td {
        font-size: 20px;
        padding-left: 10px;
        margin: 0%;
    }
}

