@media (max-width: 912px) {
    .logopreto {
        padding-top: 3%;
        display: block;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    .menu {
        bottom: 0;
        height: 100%;
        text-align: center;
    }

    .menu .logo {
        position: relative;
        width: 200px;
        height: 90px;
        margin-left: 50px;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .logopreto {
        padding-top: 3%;
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }


    .close-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 20px;
        right: 20px;
        background-color: black;
        color: white;
        font-size: 45px;
        line-height: 40px;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 0.5px;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }
    
    .carros {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(97, 5vw);
        grid-gap: 25px;
    }
    
    .carro-img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 120%;
        object-fit: cover;
    }
    
    .carro_lista--1 {
        grid-area: carro1;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 9;
    }
    
    .carro_lista--2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 12;
        grid-row-end: 17;
    }
    
    .carro_lista--3 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 20;
        grid-row-end: 25;
    }
    
    .carro_lista--4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 28;
        grid-row-end: 33;
    }
    
    .carro_lista--5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 36;
        grid-row-end: 41;
    }
    
    .carro_lista--6 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 44;
        grid-row-end: 49;
    }
    
    .carro_lista--7 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 52;
        grid-row-end: 57;
    }
    
    .carro_lista--8 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 60;
        grid-row-end: 65;
    }
    
    .carro_lista--9 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 68;
        grid-row-end: 73;
    }
    
    .carro_lista--10 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 76;
        grid-row-end: 81;
    }
    
    .carro_lista--11 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 84;
        grid-row-end: 89;
    }
    
    .carro_lista--12 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 92;
        grid-row-end: 97;
    }

    .carro-descricao p {
        background-color: black;
        color: white;
        padding: 1%;
        padding-left: 10px;
        margin: -1px;
        font-size: 20px;
    }
}

@media (max-width: 414px) {
    .logopreto {
        padding-top: 3%;
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .menu {
        bottom: 0;
        height: 100%;
        text-align: center;
    }

    .menu .logo {
        position: relative;
        width: 200px;
        height: 100px;
        margin-left: 50px;
        padding-right: 30px;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }
}