@media (max-width: 912px) {

    header {
        position: fixed;
        height: 120px;
        width: 100%;
        background: black;
    }

    header .logo {
        position: relative;
        width: 200px;
        height: 90px;
        top: 15px;
        padding-left: 25%;
    }

    header .nav {
        position: relative;
        height: auto;
        width: 30%;
        margin-left: 63%;
        margin-top: -50px;
        overflow: hidden;
    }

    header nav ul {
        position: relative;
        margin: 0;
    }

    header nav ul li {
        display: none;
        list-style-type: none;
        display: inline-block;
        padding: 0px 0px 0px 50px;
    }

    header nav ul li a {
        display: none;
        font-size: 20px;
        text-decoration: none;
        color: white;
        transition: 0.2s all ease-in-out;
    }

    header nav ul li a:hover {
        color: #b3b3b3;
    }


    .carros {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(97, 5vw);
        grid-gap: 25px;
    }
    
    .carro-img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 120%;
        object-fit: cover;
    }
    
    .carro_lista--1 {
        grid-area: carro1;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 9;
    }
    
    .carro_lista--2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 12;
        grid-row-end: 17;
    }
    
    .carro_lista--3 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 20;
        grid-row-end: 25;
    }
    
    .carro_lista--4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 28;
        grid-row-end: 33;
    }
    
    .carro_lista--5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 36;
        grid-row-end: 41;
    }
    
    .carro_lista--6 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 44;
        grid-row-end: 49;
    }
    
    .carro_lista--7 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 52;
        grid-row-end: 57;
    }
    
    .carro_lista--8 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 60;
        grid-row-end: 65;
    }
    
    .carro_lista--9 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 68;
        grid-row-end: 73;
    }
    
    .carro_lista--10 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 76;
        grid-row-end: 81;
    }
    
    .carro_lista--11 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 84;
        grid-row-end: 89;
    }
    
    .carro_lista--12 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 92;
        grid-row-end: 97;
    }

    .carro-descricao p {
        background-color: black;
        color: white;
        padding: 1%;
        padding-left: 10px;
        margin: -1px;
        font-size: 20px;
    }
    
}